span{ color:purple;
      font-weigh:bold;}




table { width:70%;
       }

tr:nth-child(even){background-color: #f2f2f2
       }


body {


 background-color: #E0F8E6;

}
td{
     text-align: center;}


p { font-style: italic;
    color: green;
    font-weight: bold;
}




h1 { color:green;

     font-weight: bold;
   }


h3 { color:blue; 
     font-weight: bold;
   
   }


.col1{ 
        width : 30%;
        font-weight: bold;

}

.col2{ width: 15% }



.col3{     
        width : 30%;
          color: red;
}


.col4{  width : 25%;

font-style: italic;

}


table {
border-collapse: collapse;
}

td{
  border: 2px double black;}


div{
 width:49%;
 display:inline-block;
 text-align: center;
background-color: white;
 border: 1px dashed grey; 

}

#def{

 color:green;
}

#abc{
 color:blue;
}