header{
	
	
	border-bottom: 30px groove grey;
	font-size:200px;
	vertical-align:top;
	
	
}
#list{
	
	padding-left:-300px;
	font-size:30px;
}


.table{ width:70%;
      align-center;
	  margin-left:17%}